/*
=====================================================================
*   RMG v1.0 Layout Stylesheet
*   02-02-2020
===================================================================== 
*/
body {
	color: #FFF; 
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'PT Sans Narrow', sans-serif;
	min-width: 960px;
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background-size: cover;
	background: url(../images/constellation.jpg);
}
@media(max-width:768px){
	body {
		min-width: initial !important;
	}
}

h1 {
	font-size: 68px;
	letter-spacing: -2px;  
	text-align: center; 
	padding-top: 30px;
	font-weight: 700;
	font-family: 'Lobster Two', cursive;
	text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
}
@media(max-width:420px){
	h1 {
		float: initial;
		text-align: center;
		margin-left: 0px;
		margin-bottom: 0px;
	}
}

p {
	margin: 0 0 10px 0; 
}

a {
	color: #fff;
	text-decoration: none;	
}
a:hover {
	color: #61d8ba;
} 

#header {
	margin-bottom: 62px;
	position: relative;
	width: 100%;
	height: 110px;
	line-height: 110px;
	z-index: 1;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	width: 920px;
	z-index: 1;
}
@media(max-width:768px){
	.wrapper {
		width: 100%;
	}
}

#Content h2 {
	display: inline-block;
	margin: 25px 0 25px;
	padding: 0px;
	text-align: center;
	font-size: 28px; 
	font-weight: 300;
	color: #fff;
	line-height: 36px;
}
@media(max-width:420px){
	#Content h2 {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		text-align: center;
		font-size: 29px;
		font-weight: 300;
	}
}
	
#quizlayout p {
	text-align: center;
}
	
#quizlayout input {
	color: #ffffff; 
	vertical-align: middle;
	width: 293px;
	border: 1px solid rgba(255, 255, 255, 0.76);
	padding: 0 10px;
	height: 40px;
}
@media(max-width:420px){
	#quizlayout input {
		width: 80%;
	}
}
	
#quizlayout input[type="button"] {
	border-radius: 5px;
	background-image: -webkit-linear-gradient(#4d4552, #3e3742);
	background-image: linear-gradient(#4d4552, #3e3742);
	border: 1px solid #464159; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	/* font-size: 60px; */
	font-size: 3.75em;
	font-weight: 700;
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	font-size: xx-large;
	text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
	margin-bottom: 5px; 
	width: auto;
	padding: 0px 25px; 
	cursor: pointer;
}
@media(max-width:420px){
	#quizlayout input[type="button"] {
		margin-top: 10px;
	}
}

#quizlayout input[type="button"]:hover, input[type="button"]:focus {
	outline: none;
	background: #61d8ba;
}
	
.countdown {
	text-align: center;
}
	
.intro,
.questionspot {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	width: 100%;
}
	
.styled {
	margin-bottom: 30px;
}
@media(max-width:768px){
	.styled div {
		margin-bottom: 10px; 
	}
}
@media(max-width:420px){
	.styled {
		margin-bottom: 30px;
	}

	.styled div {
		margin-bottom: 10px;
	  	font-size: 40px;
	 	font-weight: normal; 
	  	text-align: center;
	  	width: 80px; 
	  	border-radius: 80px; 
	  	height: 80px;  
	}
}

.container {
	margin: 20px 20px 20px 20px;
}

.button, form input[type="submit"], form button {
	display: inline-block;
	background-image: -webkit-linear-gradient(#4d4552, #3e3742);
	background-image: linear-gradient(#4d4552, #3e3742);
	padding: 8px 25px;
	border-radius: 20px;
	color: white;
	border-top: 1px solid #817489;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	/* font-size: 18px; */
	font-size: 1em;
	position: relative;
	z-index: 1;
	border-left: none;
	border-right: none;
	border-bottom: none;
	outline: none;
	font-weight: 300;
	-webkit-transition: .3s ease;
	transition: .3s ease; 
}

.button:focus, form input[type="submit"]:focus, form button:focus {
	outline: none; 
}
	
.button:hover, form input[type="submit"]:hover, form button:hover/* , .button:focus, form input[type="submit"]:focus, form button:focus */ { 
	background: #61d8ba; 
}

.subscribe-form {
	position: relative;
	margin-bottom: 5px; 
}
		
.subscribe-form input[type="text"] {
	width: 82.5%;
	padding: 10px 100px 10px 50px;
	border: 2px solid #4c4551;
	border-radius: 25px;
	color: white;
	background-color: #262029;
	/* font-size: 18px; */
	font-size: 1em;
	-webkit-transition: .3s ease;
	transition: .3s ease; 
}
		
.subscribe-form input[type="text"]:focus, .subscribe-form input[type="text"]:active {
	border-color: #61d8ba; 
}
			
.subscribe-form input[type="text"]:focus ~ .fa, .subscribe-form input[type="text"]:active ~ .fa {
	color: #61d8ba; 
}
	
.subscribe-form .fa {
	position: absolute;
	left: 20px;
	top: 13px;
	color: #4c4551;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.subscribe-form input[type="submit"] {
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 4px; 
}

.counter-wrap {
	margin: 25px -15px 0 35%;
	*zoom: 1; 
}
		
.counter-wrap:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0; 
}

.counter-wrap .counter {
	width: 20%;
	padding: 0 10px;
	float: left; 
}
@media screen and (max-width: 600px) {
	.counter-wrap .counter {
		padding: 0 5px; 
	} 
}
			
.counter-wrap .number {
	/* border-radius: 5px;
	background-image: -webkit-linear-gradient(#4d4552, #3e3742);
	background-image: linear-gradient(#4d4552, #3e3742);
	border-top: 1px solid #817489; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);*/
	border-bottom: 1px solid white; 
	text-align: center;
	/* font-size: 60px; */
	font-size: 3.75em;
	font-weight: 700;
	padding: 20px 0;
	margin-bottom: 5px; 
}
@media screen and (max-width: 990px) {
	.counter-wrap .number {
		/* font-size: 70px; */
		font-size: 3.8888888889em; 
	} 
}
@media screen and (max-width: 480px) {
	.counter-wrap .number {
		/* font-size: 40px; */
		font-size: 2.2222222222em; 
	} 
}

.counter-wrap .caption {
	text-align: center;
	text-transform: uppercase;
	/* color: #7d7482; */
	color: white;
	font-weight: 700;
	/* font-size: 24px; */
	font-size: 1.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
}

.counter-wrap-score {
	margin: 25px 93px 25px 32%;
	*zoom: 1; 
}
		
.counter-wrap-score:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0; 
}

.counter-wrap-score .counter {
	width: 20%;
	padding: 0 10px;
	float: left; 
}
@media screen and (max-width: 600px) {
	.counter-wrap-score .counter {
		padding: 0 5px; 
	} 
}

.counter-wrap-score .counter-caption {
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 1.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
	padding: 0 10px;
	float: left; 
	margin-top: 4%;
}
			
.counter-wrap-score .number {
	border-radius: 5px;
	background-image: -webkit-linear-gradient(rgba(255, 253, 249, 0.5), rgba(241, 243, 244, 0.5));
	background-image: linear-gradient(rgba(255, 253, 249, 0.5), rgba(241, 243, 244, 0.5));
	border-top: 1px solid #ffffff; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid #ffffff; 
	color: #4c4551;
	text-align: center;
	font-size: 3.75em;
	font-weight: 700;
	padding: 20px 0;
	margin-bottom: 5px; 
}
@media screen and (max-width: 990px) {
	.counter-wrap-score .number {
		font-size: 3.8888888889em; 
	} 
}
@media screen and (max-width: 480px) {
	.counter-wrap-score .number {
		font-size: 2.2222222222em; 
	} 
}

.counter-wrap-score .caption {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 1.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
}

#footer {
	bottom: 0;
	left: 0;
	padding: 2em 4em 6em 0;
	position: fixed;
	text-align: center;
	width: 100%;
}
@media(max-width:420px){
	#footer {
		position: relative !important;
	}
}

#social-media {
	display: block;
}

#social-media ul {
	margin: 0px; 
	padding: 0px;
	text-align: center;
}

#social-media ul li {
	margin-right: 5px;
	height: 34px;
	line-height: 34px;
	list-style-type: none;
	display: inline-block; 
}

#social-media ul li a {
	width: 34px;
	height: 34px; 
	display: inline-block;
}

.plus-size-icon {
	font-size: 35px;
}

.copyright {
	display: block;
	text-align: center;
	margin-top: 40px;
}

/* Highscore Dynamic Forms */
.customized-form {
	position: relative;
	margin: 15px 0 5px 0;
}
		
.customized-form input[type="text"] {
	width: 82.5%;
	padding: 10px 100px 10px 50px;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background-color: rgba(241, 243, 244, 0.5);
	color: #252428;
	text-align: end;
	font-size: 1.15em;
	font-weight: 700;
}

.customized-form input[type="button"] {
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	display: inline-block;
	padding: 3px 100px;
	border-radius: 10px;
	color: #464159;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 1;
	outline: none;
	cursor: pointer;
}
